.homelink {
    border-style: solid;
}

.gradback {
    height: 200px;
    background-color: rgb(30, 30, 30);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

}




/* ========================= */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'IBM Plex Sans', sans-serif;
}

.split-screen {
    display: flex;
    flex: 1;
}

.split-screen__half {
    flex: 1;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: white !important;
    text-decoration: none !important;
}

.split-screen__half .title {
    font-size: 100px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    margin-bottom: 10px;
}

.split-screen__half:hover .title {
    opacity: 0;
}

.split-screen__half .description {
    font-size: 50px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    text-align: center;
}

.split-screen__half:hover .description {
    opacity: 1;
}

.split-screen__half--green {
    background-color: rgb(33, 154, 33);

}

.split-screen__half--red {
    background-color: rgb(255, 35, 35);

}

.split-screen__half--green:hover {

    background-color: rgba(5, 118, 12, 0.4);
}

.split-screen__half--red:hover {

    background-color: rgba(119, 0, 0, 0.4);

}

/* ========================= */
.action {
    position: fixed;
    top: 20px;
    right: 30px;
}

.action .profile {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.action .profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.action .menu {
    position: relative;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;

}


.action .menu.active {
    top: 80px;
    visibility: visible;
    opacity: 1;
}

.action .menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transition: rotate(45deg);
}


.action .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: #555;
    line-height: 1.2em;

}

.action .menu h3 span {
    font-size: 14px;
    color: beige;
    font-weight: 400;
}

.action .menu ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;

}

.action .menu ul li img {
    max-width: 20vw;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;

}

.action .menu ul li:hover img {
    opacity: 1;
}

.action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}

.action .menu ul li :hover a {
    color: red;
}

/* ========================= */




nav {
    position: relative;

}

a {
    text-decoration: none;

}


.green {
    font-size: auto;
    background: green;
    color: #fff;
    border: 0.25rem solid green;
    padding: 0.85em 0.75em;

    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 12px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;

    text-align: center;
    line-height: 2px;


    min-width: 8vw;
    height: 6vh;
}

.green:hover {
    color: green;
}

/* ddddddddddddddddddddddddddddd */
.red {
    font-size: auto;

    background: red;
    color: #fff;
    border: 0.25rem solid red;
    padding: 0.75em 0.75em;

    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 12px;

    text-align: center;
    line-height: 2px;

    min-width: 8vw;
    height: 6vh;

    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;




}

.red:hover {
    color: red;
}

button a {
    color: inherit;
    text-decoration: none;
}

button::after {
    content: "";
    background: #ecf0f1;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
}

button[class^="slide"]::after {
    transition: all 0.35s;
}

button[class^="slide"]:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
}



button[class^="grow"]::after {
    transition: all 0.3s ease;
}

button[class^="grow"]:hover::after {
    transition: all 0.3s ease-out;
}


button.grow_ellipse::after {
    border-radius: 50%;
    left: -50%;
    right: -50%;
    top: -150%;
    bottom: -150%;
    line-height: 8.34em;
    transform: scale(0, 0);
}

button.grow_ellipse:hover::after {
    transform: scale(1, 1);
}

/* ============================== */

.anybutton {
    font-size: 25px;

    background: rgb(56, 56, 56);
    color: #fff;
    border: 0.25rem solid rgb(56, 56, 56);
    padding: 0.75em 0.75em;

    position: relative;
    z-index: 3;
    overflow: hidden;
    cursor: pointer;
    border-radius: 12px;

    text-align: center;
    line-height: 2px;

    min-width: 8vw;
    height: 6vh;

    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;



}

.anybutton:hover {
    color: rgb(47, 47, 47);
}


.left-div {
    position: absolute;
    left: 150px;
    top: 50%;
    transform: translateY(-50%);

}

.right-div {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

}


/* ---------- */
@media (max-width: 800px) {
    @media (max-width: 800px) {
        .split-screen {
            flex-direction: column;
        }

        .split-screen__half {
            flex-direction: column;
        }
    }


}